*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    background: #19a6cd1c;
}

body {
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;


    background: url(./img/eleganteleg.jpg) no-repeat center center/cover;
    
    width: 100%;
    height: 100%;
   
 
}


.container {
    width: 86%;
    margin: 0 auto;
   
}

header {
    background: #1e3c4471;
   
    color: white;
    padding: 1rem 0;
 
}

header h1 {
    margin: 0;
    text-align: center;
    
border-radius: 25px;
}
img{
width: 70px;
border-radius: 25px;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


ul a img{

width: 100px;
    


}
.lider{
    text-align: center;
}

#services h2, #about h2, #contact h2 {
    text-align: center;
    color: rgb(57, 174, 243);
    
}
.lider {
    
    color: rgb(27, 52, 63);
    font-weight: bold;
 font-style: italic;
 

  
}
.lis{
font-style: italic;
color: rgb(221, 19, 19);
    font-size: larger;
    font-weight: bold;

}
.service {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.sofa{
    width: 100%;
}

footer {
    /* background: #030a0cdd; */
    background: #1e3c4471;
    color: white;
    text-align: center;
    padding: 1rem 0;
  
}

footer p {
    margin: 0.1rem 0;
.contatos{
    width: 30px;
}


}